@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-brand-rose: #B58282;
}

@layer base {
  body {
    @apply font-sans bg-white text-gray-900 antialiased;
  }
  h1, h2, h3, h4, .font-serif {
    @apply font-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
